[Desktop Entry]
Encoding=UTF-8
Name=Xlock
Comment=Screen Saver
Comment[pl]=Wygaszacz ekranu
Exec=/usr/X11R6/bin/xlock -mode random
Icon=gnome-lockscreen.png
Terminal=false
Type=Application
Categories=Screensaver;
# vi: encoding=utf-8
